@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Instrument Serif", serif;
    font-family: "Open Sans", sans-serif;
  }
  .segitiga {
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  }
  /* * {
    @apply border border-yellow-300;
  } */
}
